.masthead {
     padding-top: 45px;
     padding-bottom: 26px;
     width: 270px;
}

.masthead_heading {
    font-family: 'Lora';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
}

.masthead_description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.masthead_button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: none;
    border: none;
}

@media (min-width: 800px) {
    .masthead {
        padding-top: 171px;
    }
    .masthead_description {
        padding-top: 40px;
        padding-bottom: 48px;
    }
}