html {
  background: #181719; }

body {
  color: #FFFFFF; }

body, h1, h2, h3, ul li, ul li p, p, article {
  margin: 0; }

.container {
  margin-left: 12px;
  margin-right: 12px; }

.site_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 19px; }

.site_header__heading {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  width: 106px;
  height: 31px;
  text-align: center; }

.site_header__lists--items-link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #FFFFFF; }

.site_header__lists {
  list-style: none; }

.spane_menu {
  display: none; }

.site_header__menulabel svg {
  width: 2rem;
  height: 2rem; }

.site_header__navigation {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  transition-property: all;
  transition-duration: .5s;
  transition-delay: 0s;
  transform-origin: right center;
  transform: perspective(500px) rotateY(-90deg);
  opacity: 0; }

body > input[type="checkbox"] {
  position: absolute;
  top: 0;
  right: 5%;
  z-index: -1;
  visibility: hidden; }

body > input[type="checkbox"]:checked ~ .site_header .site_header__navigation {
  transition-delay: .3s;
  transform: none;
  opacity: 1;
  z-index: 2; }

body > input[type="checkbox"]:checked ~ .site_header .site_header__menulabel {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: -10%;
  height: 100vh;
  width: 100%; }

@media (min-width: 800px) {
  .site_header__navigation {
    background-color: lightslategray;
    position: relative;
    top: 0;
    right: 0;
    width: unset;
    height: unset;
    transition-property: none;
    transition-duration: none;
    transition-delay: none;
    transform-origin: none;
    transform: none;
    background: none;
    opacity: 1; }
  .site_header__lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0; }
  .site_header__lists .site_header__lists--items + .site_header__lists--items {
    margin-left: 86px; }
  .site_header__menulabel svg {
    display: none; } }

.masthead {
  padding-top: 45px;
  padding-bottom: 26px; }

.masthead_heading {
  font-family: 'Lora';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px; }

.masthead_description {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding-top: 25px;
  padding-bottom: 25px; }

.masthead_button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: none;
  border: none; }

.article {
  padding-bottom: 50px; }

.article_descritpion {
  position: relative;
  background: #181719;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 300px;
  padding-top: 17px;
  padding-bottom: 25px;
  padding-left: 19px;
  padding-right: 71px; }

.article img {
  width: 100%;
  height: 100%; }

.article_descritpion img {
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  top: 10%; }

.article_descritpion__name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  padding-left: 73px;
  padding-bottom: 6px; }

.article_descritpion__job {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #828282;
  padding-left: 73px;
  padding-bottom: 22px; }

.article_description__heading {
  font-family: 'Lora';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px; }

footer {
  padding-top: 10px;
  padding-bottom: 24px; }

footer p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #A9A9A9;
  border-top: 1px solid #A9A9A9;
  padding-right: 70px;
  padding-left: 70px; }
