$font-faces: 
  (
    name: 'Lora Bold',
    family: 'Lora',
    system-name: 'Lora-Bold',
    filename: 'Lora-Bold',
    style: 'normal',
    weight: 700,
  ),
  (
      name: 'Lora Regular',
      family: 'Lora',
      system-name: 'Lora-Regular',
      filename: 'Lora-Regular',
      style: 'normal',
      weight: 400,
  ),
    (
      name: 'Montserrat Bold',
      family: 'Montserrat',
      system-name: 'Montserrat-Bold',
      filename: 'Montserrat-Bold',
      style: 'normal',
      weight: 700,
    ),
    (
      name: 'Montserrat SemiBold',
      family: 'Montserrat',
      system-name: 'Montserrat-SemiBold',
      filename: 'Montserrat-SemiBold',
      style: 'normal',
      weight: 600,
    ),
    (
      name: 'Montserrat Medium',
      family: 'Montserrat',
      system-name: 'Montserrat-Medium',
      filename: 'Montserrat-Medium',
      style: 'normal',
      weight: 500,
      ),
      (
        name: 'Montserrat Light',
        family: 'Montserrat',
        system-name: 'Montserrat-Light',
        filename: 'Montserrat-Light',
        style: 'normal',
        weight: 300,
      );
